@let(meta = $props.meta, page = $props.page)

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
@if(meta.length > 0)
  @each((item) in meta)
  <meta name="{{item.name}}" content="{{item.content}}"/>
  @end
@end
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page + ' - ' + setting.appname}}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{setting.favicon}}">
  <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'}}">
  <link rel="stylesheet" href="{{'assets/css/icons.min.css'}}">
  <link rel="stylesheet" href="{{'assets/css/plugins.css'}}">
  <link rel="stylesheet" href="{{'assets/css/style.css'}}">

  <script src="{{'assets/js/vendor/modernizr-2.8.3.min.js'}}"></script>
